---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar"
import { Image } from "astro:assets"
import LogoImage from "@assets/images/logo.svg"

const sections = [
	{ id: "about", name: "Quienes Somos" },
	{ id: "services", name: "Servicios" },
	{ id: "solutions", name: "Soluciones" },
	{ id: "partners", name: "Socios" },
	{ id: "objetives", name: "Objetivos" },
	{ id: "contact", name: "Contacto" },
]
---

<header class='sticky z-50 top-0 bg-white w-full border shadow-lg'>
	<div class='lg:flex justify-between p-5 gap-5 lg:mx-auto lg:w-4/5'>
		<Astronav closeOnClick>
			<div class='flex w-full lg:w-auto justify-between'>
				<a class='block hover:opacity-80' href='/'>
					<Image src={LogoImage} width='150' height='30' alt='Weiven' decoding='async' loading='eager' />
				</a>
				<div class='block lg:hidden'>
					<MenuIcon class='w-4 h-4 text-gray-800' />
				</div>
			</div>
			<MenuItems class='hidden lg:flex'>
				<ul class='flex flex-col pt-10 gap-5 lg:flex-row lg:gap-5 lg:pt-0 font-semibold lg:text-sm' id='navigation'>
					{
						sections.map(({ id, name }) => (
							<li>
								<a href={`#${id}`} class='hover:text-blue-300 transition-colors'>
									{name}
								</a>
							</li>
						))
					}
				</ul>
			</MenuItems>
		</Astronav>
	</div>
</header>

<style>
	.active {
		@apply text-blue-300 font-bold border-b-2 border-blue-300;
	}
</style>
