---
import { Image } from "astro:assets"
import WeivenVerticalImage from "@assets/images/weiven-vertical.png"
---

<section class='grid w-full grid-cols-1 text-gray-800 bg-white bg-gradient-to-br relative overflow-hidden min-h-[80vh]' id='about'>
	<div class='mt-12 flex items-center justify-center' id='about' data-aos='fade-up'>
		<Image src={WeivenVerticalImage} width='150' height='70' alt='Weiven' decoding='async' loading='eager' />
	</div>
	<p class='w-full max-w-2xl px-4 pb-12 mx-auto text-lg text-center md:text-2xl' data-aos='fade-up'>
		Somos una empresa argentina de tecnología que brinda soluciones estratégicas para problemas complejos. Trabajamos en múltiples
		sectores, incluyendo salud, finanzas, educación y sector público.
	</p>

	<div class='hidden md:block'></div>
</section>
