---
import { Image } from "astro:assets"
import DellImage from "@assets/images/dell.png"
import FortinetImage from "@assets/images/fortinet.png"
---

<div class='px-4 py-10 bg-gray-100 bg-opacity-90'>
	<div class='max-w-xl mx-auto flex gap-10'>
		<div class='flex-1' data-aos='fade-right'>
			<Image src={DellImage} width='288' height='80' alt='Dell' decoding='async' loading='eager' />
		</div>
		<div class='flex-1' data-aos='fade-left'>
			<Image src={FortinetImage} width='288' height='80' alt='Fortinet' decoding='async' loading='eager' />
		</div>
	</div>
</div>
