<div class=''>
	<div class='px-4 py-10 bg-gray-100 bg-opacity-90'>
		<h3 class='mb-2 text-3xl text-center text-white'></h3>
		<div class='max-w-xl mx-auto flex gap-10'>
			<div class='flex-1'>
				<img src='/static/images/dell.png' width='288' height='80' alt='Dell' />
			</div>
			<div class='flex-1'>
				<img src='/static/images/fortinet.png' width='288' height='80' alt='Fortinet' />
			</div>
		</div>
	</div>
</div>
