<div class='max-w-full px-4 mx-auto lg:max-w-5xl min-h-10'>
	<nav class='flex items-center justify-between w-full py-5 md:py-4 lg:py-5'>
		<a href='#skip' class='sr-only skip-nav'> Skip to content </a>
		<div class='ml-0 text-xl font-bold tracking-wider'>
			<a href='/'>
				<a class='block mt-1 hover:opacity-80'>
					<img src='/logo.svg' width='150' height='30' alt='Weiven' />
				</a>
			</a>
		</div>
		<div class='justify-end hidden uppercase lg:flex'>
			<a href='/servicios' title='Servicios'>Servicios</a>
			<a href='/quienes-somos' title='Quienes Somos'>Quienes Somos</a>
			<a href='/contacto' title='Contacto'>Contacto</a>
		</div>
	</nav>
</div>
