---
import { Image } from "astro:assets"
import WeivenObjetivesImage from "@assets/images/weiven-objectives.png"
---

<section class='relative grid w-full grid-cols-1 my-2 font-normal' id='objetives'>
	<div class='py-24 text-gray-800 bg-fixed bg-gradient-to-br from-white to-gray-200'>
		<div class='grid max-w-5xl gap-3 mx-auto md:grid-cols-2'>
			<div data-aos='fade-right'>
				<Image
					src={WeivenObjetivesImage}
					alt='Cámara de la Industria del Software'
					class='h-full object-fill w-full'
					loading='eager'
				/>
			</div>
			<div class='px-6 text-left'>
				<h3 class='pt-12 mb-6 text-3xl font-bold text-gray-800' data-aos='fade-up'>Nuestro Objetivo</h3>
				<div class='max-w-xl mx-auto text-gray-800' data-aos='fade-up'>
					<p>
						La misión de Weiven es brindar a sus clientes servicios y productos de excelente calidad en forma ágil y eficiente
						respaldados por extensos servicios de valor agregado.
					</p>
					<p>
						De la mano de nuestros socios, te acompañamos a innovar más rápido, ser más ágiles y agregar más valor a sus
						productos y servicios de manera segura y simplificada
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
