<div class='w-full font-bold text-center text-white bg-gradient-to-br from-red-800 to-blue-600'>
	<div class='px-4 py-24 text-gray-900 bg-fixed bg-black bg-opacity-90 pattern-diagonal-lines-lg'>
		<h3 class='mb-2 text-3xl text-yellow-500'>Seguridad informática</h3>
		<div class='max-w-2xl mx-auto text-xl text-white'>
			Contamos con los mejores profesionales del sector de Seguridad. Realizamos auditorias e implementaciones en Ciberseguridad.
		</div>
		<a href='/contacto'>
			<a
				class='flex items-center justify-center py-1 mx-auto mt-6 font-sans text-lg font-bold text-gray-800 transition-all duration-500 transform bg-white border-b-2 border-transparent rounded shadow-md w-60 hover:border-yellow-500 hover:text-yellow-600'
			>
				<span class='mr-3'>Consultar</span>
			</a>
		</a>
	</div>
</div>
