---
import { Icon } from "astro-icon/components"

type Service = {
	title: string
	description: string
	delay: number
	icon: string
}

const services: Service[] = [
	{
		title: "Diseño de servicios",
		description:
			"Tenemos la capacidad de transformar todos los procesos y servicios de una empresa u organismo rediseñándolos en función de los usuarios internos y externos a partir de la implementación tecnológica.",
		delay: 0,
		icon: "services",
	},
	{
		title: "Desarrollo de Software",
		description:
			"Brindamos soluciones en software y aplicaciones móviles. Somos partner de las empresas líderes en el mercado pudiendo dar soluciones con software licenciatario o software libre ofreciendo el soporte y desarrollo de software propietario de manera personalizada.",
		delay: 200,
		icon: "development",
	},
	{
		title: "Experiencia de usuario",
		description:
			"Diseñamos experiencias de calidad según estándares internacionales y buenas prácticas UX/IU. Contamos con servicios de aseguramiento de la calidad: QA Web (CMS, aplicaciones web, diseño, etc.), QA Mobile (aplicaciones móviles, responsive, user experience, etc.",
		delay: 400,
		icon: "experience",
	},
	{
		title: "Soluciones en infraestructura",
		description:
			"Disponemos de las mejores soluciones tecnológicas del mercado para que nuestros clientes puedan desarrollarse y satisfacer todas sus necesidades.",
		delay: 600,
		icon: "solutions",
	},
	{
		title: "Blockchain",
		description:
			"Expertos en la aplicación y desarrollo de proyectos blockchain, criptomonedas e implementación de billeteras virtuales para gobiernos en todos sus niveles (Municipales, Provinciales y Nacionales). Abordaje tecnológico práctico con utilidad real para la gestión e implementación de políticas públicas.",
		delay: 800,
		icon: "blockchain",
	},
	{
		title: "Smart Cities",
		description:
			"Diseñamos planes estratégicos y desarrollamos productos para Smart Cities. Movilidad urbana y car parking. Transformación digital de organismos públicos (Municipales, provinciales y nacionales). Seguridad inteligente.",
		delay: 1000,
		icon: "smart",
	},
]
---

<div
	class='relative z-30 h-12 text-gray-200 bg-white border-b-2 border-blue-500 md:-mt-12 pattern-diagonal-lines-sm animate-fill-both animate-fade'
>
</div>
<div class='bg-white animate-fill-both animate-fade' id='services' '>
	<h2 class='max-w-6xl px-4 pt-12 mx-auto text-4xl font-bold text-left text-gray-800 md:text-5xl'>Servicios</h2>
</div>
<div class='flex flex-col px-3 py-2 bg-white md:px-0 animate-fill-both animate-fade'>
	<div class='bg-white'>
		<div class='grid w-full max-w-6xl gap-8 py-12 mx-auto md:grid-cols-2 lg:grid-cols-3'>
			{
				services.map((service: Service) => {
					return (
						<div
							class='relative px-5 pt-6 pb-4 text-left border rounded-md shadow-lg'
							data-aos='fade-up'
							data-aos-delay={service.delay}>
							<div class='absolute top-0 right-0 mx-3 mt-2 kush-center opacity-80'>
								<span class='text-4xl '>
									<Icon name={service.icon} />
								</span>
							</div>
							<h3 class='pr-16 mt-1 mb-3 text-xl font-bold text-blue-500 md:pr-0'>{service.title}</h3>
							<p class='text-sm text-gray-900'>{service.description}</p>
						</div>
					)
				})
			}
		</div>
	</div>
</div>
