---
import { Image } from "astro:assets"
import ServicesIcon from "@assets/images/icono-servicios.svg"
import DevelopmentIcon from "@assets/images/icono-desarrollo.svg"
---

<section id='solutions'>
	<div class='w-full font-bold text-center text-white bg-gradient-to-br from-red-800 to-blue-600'>
		<div class='px-4 py-24 text-gray-900 bg-fixed bg-black bg-opacity-90 pattern-diagonal-lines-lg'>
			<h3 class='mb-2 text-3xl text-yellow-500'>Seguridad informática</h3>
			<div class='max-w-2xl mx-auto text-xl text-white'>
				Contamos con los mejores profesionales del sector de Seguridad. Realizamos auditorias e implementaciones en Ciberseguridad.
			</div>
			<a
				href='#contact'
				class='flex items-center justify-center py-1 mx-auto mt-6 font-sans text-lg font-bold text-gray-800 transition-all duration-500 transform bg-white border-b-2 border-transparent rounded shadow-md w-60 hover:border-yellow-500 hover:text-yellow-600'
			>
				<span class='mr-3'>Consultar</span>
			</a>
		</div>
	</div>

	<div class='py-24 text-gray-800 bg-white'>
		<div class='grid max-w-5xl gap-3 mx-auto md:grid-cols-2'>
			<div class='px-6 text-center flex flex-col items-center'>
				<div class=''>
					<Image src={ServicesIcon} width='150' height='208' alt='Diseño de servicios' decoding='async' loading='eager' />
				</div>
				<h3 class='pt-2 mb-6 text-3xl font-bold text-gray-800'>Soluciones a medida</h3>
				<div class='max-w-2xl mx-auto text-gray-800'>
					<p>
						Ofrecemos soluciones innovadoras con velocidad y agilidad. Nuestra independencia tecnológica, combinada con un
						amplio ecosistema de socios y el talento de nuestros profesionales nos posiciona para ofrecer un valor diferencial a
						nuestros clientes.
					</p>
				</div>
			</div>

			<div class='px-6 text-center flex flex-col items-center'>
				<div class=''>
					<Image src={DevelopmentIcon} width='150' height='208' alt='Diseño de servicios' decoding='async' loading='eager' />
				</div>
				<h3 class='pt-2 mb-6 text-3xl font-bold text-gray-800'>Data Centers</h3>
				<div class='max-w-2xl mx-auto text-gray-800'>
					<p>
						Diseñamos y construimos datas centers llave en mano. Realizamos el análisis y la planificación, la arquitectura, la
						flexibilidad, los sistemas de enfriamiento, energía, seguridad física e informática, redundancia y su escalabilidad.
						Trabajamos bajo los estándares TIER del Uptime Institute, ICREA, CEEDA e ISO 9001.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
