---
import { ViewTransitions } from "astro:transitions"
import Header from '../sections/header.astro'
import Footer from '../sections/footer.astro'
import "@fontsource/archivo"
import "@styles/patterns.css"
import "@styles/global.css"
import "@styles/header.css"
---

<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Astro description' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />

		<ViewTransitions />
	</head>
	<body >
    <main transition:animate='initial' class='flex flex-col justify-center bg-white'>
      <Header />
	  <slot />
	  <Footer />
	</main>
	</body>
</html>

